h1{
	color: #665F2F;
	text-align: center;
	font-size: 50px;
	font-variant: small-caps 
}


body
{
    background-color: #F6D3E7;
    color: #665F2F;
    font-family : Georgia, serif;
}

p{
	font-size: 20px;
	color:black;
}

.map__image{
	width: 50%;
	float: left;
}


.map__image path{
	fill: #a4ced2;
	stroke: #FFF;
	stroke-width: 1px;
	transition: fill 0.3s;
}

.map__image .is-active path{
	fill: #3538d2;
}

.map__list{
	float: right;
	width: 50%;
}

ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 margin-left:2px;
 float:left; /*pour IE*/
 }
ul li a {
 display:block;
 float:left;   
 width:100px;
 background-color:#EDEEB7;
 color:#665F2F;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
ul li a:hover {
 background-color:#D3D3D3;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 } 